@charset "UTF-8";

@font-face {
    font-family:"sedan" ;
    src: url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');
    
}

*{
    margin: 0px;
    padding: 0px;
}

    
:root{
    --cor01:#b7c3f3;
    --cor02:#5688c7;
    --cor03:#2c0e37;
    --cor04:#690375;
    --cor05:#cb429f;
    --cor06:rgba(0, 0, 0, 0.713);
    --cor07:blue;
    --font01: "sedan";
    
    
}
header{
    background-color:var(--cor02) ;
    padding: 50px;
    margin: auto;
    
}
header h1, p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.713);   
}
h1{
    font-variant:small-caps;
    padding: 5px;
}

main{
    background-image: url(../imagens/fundo.jpg);
    height: 100vh;
    width: 100vw;
    max-width: 2600px;
    background-size: cover;
    background-position: left center;
    
    
}
div a{
    display:block;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    width: 200px;
    border-top-right-radius:5px;
    background-color: rgba(255, 255, 255, 0.723);
    font-family:var(--font01);
    font-size: 1.1em;
}
a:hover{
    text-decoration: underline;
    color:var(--cor04);
}
div h2{
    padding: 5px;
    color: var(--cor03);
    font-size:1.5em;
    width: 150px;
    background-color: var(--cor01);
    border-bottom-right-radius: 5px;
    
}
article p{
    text-align: justify;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-indent: 30px;
    line-height: 1.5;
    

}
article{
    background-color: var(--cor01);
}
footer{
    text-align: center;
    padding: 6px;
    border-radius: 5px;
    font-size: large;
    background-color: var(--cor06);
    color: white;
    box-shadow: 5px 3px 5px black;
    
}
.emoji::after{
    content:"📴";
}
.inst::after{
    content: "💬";
}
.tik::after{
    content: "💗";
}